* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.connect {
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
    width: 45vw;
    height: 100vh;
    margin-right: 100px;



    gap: 3em;

}

.container-img {
    width: 35vw;
    height: 100vh;



}

.container-img>img {

    margin-top: 100px;


}

.phone {

    width: 27vw;
    height: 80vh;
}

.connect>h2 {

    width: 35vw;
    height: 6rem;
    text-align: right;
    font: normal normal 900 66px/97px Heebo;
    letter-spacing: 0px;
    color: #FDBD03;
    opacity: 1;

}

.connect>p {

    width: 28vw;
    height: 3.6rem;
    text-align: right;
    font: normal normal normal 20px/29px Heebo;
    letter-spacing: 0px;
    color: #020253;
    opacity: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    direction: rtl;
    width: 60vw;
    height: 37vh;
}

.part {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

label {
    text-align: right;
    font: normal normal bold 16px/24px Heebo;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}

.cont {
    display: flex;
    flex-direction: column;

}

.cont>input {
    border: none;
    width: 22.4vw;
    height: 50px;
    background: #E5EEFF 0% 0% no-repeat padding-box;
    border-bottom: solid #FDBD03;
    opacity: 1;
}

#textarea {
    width: 45.6vw;
    height: 143px;
}

input[type=submit] {


    border: none;
    width: 10.3rem;
    height: 3.1rem;
    background: #FDBD03 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal bold 22px/30px Heebo;
}

/* input[type=submit]:hover {} */

.line {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 434px;
    height: 18px;

    background: #FDBD03 0% 0% no-repeat padding-box;
    opacity: 1;
}

.line2 {
    position: absolute;
    bottom: -140px;

    left: 0px;
    width: 1038px;
    height: 18px;

    background: #FDBD03 0% 0% no-repeat padding-box;
    opacity: 1;

}

.socialmedia {
    width: 494px;
    height: 95px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: 70px;
    justify-content: center;

}

.logo {

    width: 95px;
    height: 95px;
    border-radius: 80px;
    background: #FDBD03 0% 0% no-repeat padding-box;
    opacity: 1;
}

.whatsapp {
    margin-left: 2em;
    margin-top: 2em;



}

.whatsapp>img {
    margin-left: 1.2em;
    margin-top: 1.2em;


}



.locat>img {
    width: 29px;
    height: 36px;
    margin-left: 32px;
    margin-top: 28px;




}

.linkedin>img {
    width: 36px;
    height: 36px;
    margin-left: 32px;
    margin-top: 28px;

}

.phon>img {
    width: 36px;
    height: 36px;
    margin-left: 30px;
    margin-top: 28px;

}

.facebook>img {
    width: 26px;
    height: 32px;

    margin-left: 32px;
    margin-top: 30px;

}

@media screen and (max-width: 890px) {
    #container {
        flex-direction: column-reverse;

    }

    .connect>h2 {
        font: normal normal 900 40px/59px Heebo;
        width: 80vw;
        height: 4rem;
        text-align: center;

    }

    .connect>p {
        font: normal normal normal 15px/22px Heebo;
        width: 70vw;
        text-align: center;


    }

    .line {

        top: 0px;
        right: 0;

        width: 340px;
        height: 10px;

    }

    .line2 {

        bottom: 0;
        left: 0px;
        width: 390px;
        height: 10px;

    }

    .connect {
        width: 100vw;
        align-items: center;
        gap: 0em;
        height: 60vh;
        margin-bottom: 50px;


    }

    .container-img {
        width: 100vw;
        height: 30vh;
        margin-bottom: 50px;


    }

    .container-img>img {


        margin-left: 150px;
    }

    .phone {

        width: 30vw;
        height: 20vh;
        margin-bottom: 50px;
    }

    .cont>input {
        width: 250px;
        height: 37px;
        font: normal normal bold 15px/21px Heebo;
    }

    label {
        font: normal normal bold 10px/14px Heebo;
    }

    #textarea {
        width: 250px;
        height: 100px;
    }





    .part {

        flex-direction: column;

    }

    .socialmedia {
        width: 68vw;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }



    .logo {
        height: 50px;
        width: 60px;
    }

    .line2 {

        bottom: -100px;

        left: 0px;




    }

    .whatsapp {
        display: none;



    }

    .phon>img {
        width: 22px;
        height: 26px;
        margin-left: 9px;
        margin-top: 11px;

    }

    .linkedin>img {
        width: 22px;
        height: 20px;
        margin-left: 11px;
        margin-top: 13px;

    }

    .locat>img {
        width: 20px;
        height: 30px;
        margin-left: 11px;
        margin-top: 10px;




    }

    .facebook>img {
        width: 20px;
        height: 25px;

        margin-left: 10px;
        margin-top: 12px;

    }











}